Central/SCE.WebService.Servidor/src/servidor/net/dsd/sce/xsd/TransmitirResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://sce.dsd.net/TransmitirResponse"
   xmlns:tns="http://sce.dsd.net/TransmitirResponse"
   elementFormDefault="qualified">

   <element name="TransmitirResponse">
      <complexType>
         <sequence>
            <element name="codigo" type="string"></element>
            <element name="texto" type="string"></element>
         </sequence>
      </complexType>
   </element>

</schema>