Central/SCE.WebService/resources/TransmitirResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sce.dsd.net/TransmitirResponse" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sce.dsd.net/TransmitirResponse">
    <element name="TransmitirResponse">
        <complexType>
            <sequence>
                <element name="codigo" type="string"/>
                <element name="texto" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
