Central/SCE/WebContent/WEB-INF/services/ServicioCe/META-INF/Dgs015.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sce.dsd.net/TransmitirDigesaRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sce.dsd.net/TransmitirDigesaRequest">
    <complexType name="Dgs015ProductoType">
        <sequence>
            <element name="nombre" type="string"/>
            <element name="partidaArancelaria" type="string"/>
            <element name="cantidad" type="int"/>
            <element name="envase" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Dgs015Type">
        <sequence>
            <element name="tipoProducto" type="int"/>
            <element maxOccurs="unbounded" minOccurs="0" name="listaProducto" type="tns:Dgs015ProductoType"/>
        </sequence>
    </complexType>
</schema>
