Central/SCE/WebContent/WEB-INF/services/ServicioCe/META-INF/Usuario.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sce.dsd.net/TransmitirDigesaRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sce.dsd.net/TransmitirDigesaRequest">
    <complexType name="UsuarioType">
        <sequence>
            <element name="ruc" type="string"/>
            <element name="usuarioSol" type="string"/>
        </sequence>
    </complexType>
</schema>
