Central/SCE.WebService/WebContent/WEB-INF/services/ServicioCe/META-INF/Cabecera.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sce.dsd.net/TransmitirDigesaRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sce.dsd.net/TransmitirDigesaRequest">
    <complexType name="MensajeType">
        <sequence>
            <element name="formato" type="string"/>
            <element name="orden" nillable="true" type="long"/>
            <element name="suce" nillable="true" type="long"/>
            <element name="numeroExpediente" nillable="true" type="string"/>
            <element name="dr" nillable="true" type="long"/>
            <element name="estado" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
